@model AnagramSolver.WebApp.Models.WordsViewModel

<h1>Words</h1>
<p>Loaded words: @Model.Words.Count</p>
<p>Page @Model.CurrentPage of @Model.TotalPages</p>

@if (Model.Words.Count == 0)
{
    <p>No words were loaded.</p>
}
else
{
    <ul>
        @foreach (var word in Model.Words)
        {
            <li>@word.Text - @word.Type</li>
        }
    </ul>

}
@if(Model.HasPreviousPage)
{
    <a asp-controller="Words"
    asp-action="Index"
    asp-route-page="@(Model.CurrentPage-1)">
    Previous
</a>
}


@if(Model.HasNextPage)
{
    <a asp-controller ="Words"
    asp-action="Index"
    asp-route-page="@(Model.CurrentPage+1)">
    Next
</a>
}


