@model AnagramSolver.WebApp.Models.AnagramViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>@ViewBag.Message</p>
    <h1>Hello @ViewBag.Name</h1>

</div>

<h1>Anagram Solver</h1>
<p>You entered: @ViewBag.Input</p> 


<form asp-action="Index" method="get"> 
    <input
        type ="text"
        name="id"
        value="@Model.Input"
        placeholder="Enter a word: " />
    <button type ="Submit">Search</button>
</form>
@if (Model.Anagrams.Count > 0)
{
    <h2>Anagrams for "@Model.Input"</h2>
    <ul>
        @foreach(string anagram in Model.Anagrams)
        {
            <li>@anagram</li>
        }
    </ul>
}


@* <form asp-action="Index" method = "get">
    <input type ="text" name="id" placeholder= "Enter a word"/>
    <button type ="Submit">Search</button>
</form> *@
